body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.color-korbo{
    color: orange;
}
section{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 2%;
}
.half-width img{
    width: 80%;
}
.link-button{
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.link-button2{
    background-image: linear-gradient(tomato, rgb(240, 119, 119));
    padding: 10px 40px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-bottom: 200px;
}